$mediumGray: #262626;
.nav-container {
  width: 100%;
}

.navbar {
  background-color: $mediumGray;
  height: 90px;
  display: inline-flex;
  color: white;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  .nav-link {
    margin-right: 30px;
    color: white;
    font-weight: 500;
    font-size: 1em;
    letter-spacing: 2px;
    border: 1px solid;
    padding: 7px;
    border-radius: 7px;
  }
}

.navbar .right-menu {
  padding-right: 2em;
  .profile-icon {
    display: flex;
    justify-content: flex-end;
    height: fit-content;
    color: white;
    vertical-align: middle;
    margin-right: 1em;
    h2 {
      vertical-align: middle;
      font-family: "Roboto", sans-serif;
    }
  }
}

.nav-login-button .MuiButton-outlined {
  display: flex;
  display: none;
  margin-top: 1vw;
  margin-right: 1vw;
  justify-content: flex-end;
  color: white;
  border: 1px solid white;
  background-color: #353535;
}

.header-logo {
  height: 65px;
}
.dash {
  background-color: white;
}
