.tab {
  width: 15vw;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Roboto";
  font-weight: 300;
  font-size: 1.7em;
  background-color: Transparent;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;

  &-selected {
    font-weight: 400;
    letter-spacing: 0.1em;
  }
  &-not_selected {
    border-bottom: none;
    font-size: 1.7em;
    font-family: "Roboto";
    font-weight: 300;
    letter-spacing: 0.1em;
  }
}
